.card{
    width: 190px;
    height: 245px;
    position: relative;
    box-shadow: 0px 0px 4px 1px #000000;
}

.card__img{
    width: 100%;
    height: auto;
}

.card__title{
    margin: 1px 5px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: center;
}

.card__rating__container{
    width: fit-content;
    margin-top: 8px;
    margin-left: 8px;
    display: inline-flex;
    justify-content: flex-start;
    column-gap: 3px;
}

.peopleCount{
    vertical-align: text-bottom;
    margin-left: 5px;
}

.card__link__container{
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    width: fit-content;
}

.card__link{
    padding: 5px 0px;
    text-decoration: none;
    font-size: 1.05rem;
    color: black;
    border: none;
    background-color: transparent;
    display: inline-block;
}

.card__link:hover{
    border-bottom: 2px solid rgb(0,0, 230);
    padding-bottom: 3px;
}

.card__link--edit{
    margin-right: 10px;
}

.card__link--edit:hover{
    border-bottom: 3px solid rgb(0, 160, 0);
    padding-bottom: 2px;

}

.card__link--delete{
    cursor: pointer;
}

.card__link--delete:hover{
    border-bottom: 3px solid rgb(255, 0, 0);
    padding-bottom: 2px;
    
}