.li {
    position: relative;
}

.a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    padding-bottom: 3px;
    display: inline-block;
}

.a-active {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}

.a:hover {
    color: gray;
}

.special-img {
    position: absolute;
    top: -8px;
    right: -15px;
    width: 50px;
    transform: rotate(13deg);
}
